@import "variables";

body {
    background: rgb(248,248,248);
}

.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
    h1 {
        font-family: 'Roboto', sans-serif;
    }
    h2 {
        font-family: 'Poppins', sans-serif;
    }
}