@import "variables";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(248,248,248);
    font-size: $base-font-size;
    font-family: 'Poppins', sans-serif;
    color: $text-color;
}

.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
}